{% extends "base.html" %}

{% block head %}
    <title>Tool</title>
{% endblock %}

{% block navbar %}
    {% from "components/navbar.html" import navbar %}
    {{ navbar() }}
{% endblock %}

{% block header %}
    <h1 class="text-4xl text-center mt-5 text-rose-500/50">Tool</h1>
{% endblock %}

{% block body %}
    <div class="flex justify-center grid grid-cols-6 gap-4 mt-8">
        {% for link in links %}
            {% from "components/linkcard.html" import linkcard %}
            {{ linkcard(link["title"],link["description"],"none") }}
        {% endfor %}
    </div>
    <form class="flex justify-center mt-5" method="POST" action="{{ url_for('search') }}">
        {{ form.csrf_token }}
        <label class="relative block w-96">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 fill-black" type="submit" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="30"
                     height="30"
                     viewBox="0 0 30 30">
                    <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266
                    20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23
                    15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21
                    C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z">
                    </path>
                </svg>
            </span>
            <input class="w-full bg-white text-primary placeholder:font-italic border border-slate-300 rounded-full py-2 pl-10 pr-4 focus:outline-none"
                   placeholder="Enter your keyword to search" type="search" name="searched"/>
        </label>
    </form>
    <div id="exoskeletons" class="overflow-x-auto relative mt-16" style="display:none">
        <table class="table-fixed table-hover w-full gap-4">
            <colgroup>
                <col>
                <col>
                <col>
                <col style="width: 50%">
            </colgroup>
            <thead>
            <tr class="text-2xl">
                <th>Picture</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for skeleton in queries["Exoskeletons"] %}
                <tr class="clickable-row even:bg-base-300 odd:bg-base-100 hover:bg-primary-focus hover:cursor-pointer"
                    data-href="/tool/{{ skeleton['Name'] }}">
                    <td>
                        <div class="flex items-center justify-center space-x-3">
                            <div class="avatar">
                                <div class="mask mask-circle w-24 h-24">
                                    <img src="
                                            {{ url_for('static', filename='images/exoskeletons/') }}/{{ skeleton['Name'] }}.png"
                                         alt="Avatar Tailwind CSS Component"/>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-emerald-500 text-center">
                        {{ skeleton['Name'] }}
                    </td>
                    <td class="text-center">
                        {{ skeleton['Manufacturer'] }}
                    </td>
                    <td class="text-center w-[400px]">
                        {{ skeleton['Description'] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
                                        url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
            $("#card-Exoskeletons").click(function () {
                $("#exoskeletons").toggle("slide");
            });
        });
    </script>
{% endblock %}