{% extends "base.html" %}

{% block head %}
    <title>Tool</title>
{% endblock %}

{% block navbar %}
    {% from "components/navbar.html" import navbar %}
    {{ navbar() }}
{% endblock %}

{% block header %}
    <h1 class="text-4xl text-center mt-5 text-rose-500/50">Tool</h1>
{% endblock %}

{% block body %}
    <div class="overflow-x-auto relative mt-16 ">
        <div class="drawer " data-theme="winter">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
             <label for="my-drawer" class="btn btn-primary drawer-button">Filters</label>
             <table class="table-fixed table-hover w-full gap-4">
             <colgroup>
                <col>
                <col>
                <col>
                <col style="width: 50%">
             </colgroup>
             <thead>
             <tr class="text-2xl">
                <th>Picture</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Description</th>
             </tr>
             </thead>
             <tbody>
                  {% for skeleton in exoskeletons %}
                       <tr class="clickable-row even:bg-base-300 odd:bg-base-100 hover:bg-primary-focus hover:cursor-pointer"
                           data-href="/tool/{{ skeleton['Name'] }}">
                               <td>
                                   <div class="flex items-center justify-center space-x-3">
                                       <div class="avatar">
                                           <div class="mask mask-circle w-24">
                                               <img src="
                                                   {{ url_for('static', filename='images/exoskeletons/') }}/{{ skeleton['Name'] }}.png"
                                                   alt="Avatar Tailwind CSS Component"/>
                                           </div>
                                       </div>
                                   </div>
                               </td>
                               <td class="text-emerald-500 text-center">
                                  {{ skeleton['Name'] }}
                               </td>
                               <td class="text-center">
                                  {{ skeleton['Manufacturer'] }}
                               </td>
                               <td class="text-center w-[400px]">
                                  {{ skeleton['Description'] }}
                               </td>
                               </tr>
                          {% endfor %}
                       </tbody>
                  </table>
                            <!-- Page content here -->
             </div>
             <div class="drawer-side">
                        <label for="my-drawer" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
                            <li>
                                <div class="dropdown">
                                  <label tabindex="0" class="btn m-1">Click</label>
                                      <div tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-full grid grid-cols-6 h-full w-80 ">
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                           <button class="btn bg-[url('../../static/images/exoskeleton.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="2"></button>
                                           <button class="btn bg-[url('../../static/images/exosuit.png')] bg-contain bg-no-repeat h-24 w-24 col-span-2" value="1"></button>
                                      </div>
                                  </div>
                            </li>
                        </ul>
             </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
                                        url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
