@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .neumorphism {
        border-radius: 16px;
        background: #212121;
        box-shadow: 5px 5px 5px #0d0d0d,
        -5px -5px 5px #353535;
    }

    th, td {
        padding: 15px;
    }

    table td {
        word-wrap: break-word;
    }
}